# Blacklist everything
lab*/*
sources

# whitelist the necessary files and folders, this gets everything from inside them too
!.gitignore
!.gitmodules
!README.md
!**/*.xpr
!**/.srcs/
!**/*.sdk

#Digilent Added ignore rules for Vivado projects

# sdk exclusions
**/*.sdk/.metadata
**/*.sdk/RemoteSystemsTempFiles
**/*.sdk/**/*Debug/*
**/*.sdk/webtalk
**/*.sdk/*.log
# ignore everything in the hw_platform
#sdk/*hw_platform*/*
# except
#!sdk/*hw_platform*/*.hdf
#!sdk/*hw_platform*/.*project

# Make sure we keep only xci files in ip src subfolder
**/src/ip/*/**
!**/src/ip/*/*.xci
!**/src/ip/*/*.prj
# Do not ignore anything in src/others
!**/src/others/*
# Do not ignore block diagram files
!**/src/bd/**


# ignore everything in project folder
#proj/*
# except this file and project generators
#!#proj/create_project.tcl
#!proj/cleanup.cmd
#!proj/cleanup.sh
#!proj/release.py

# keep the empty folders
!**/.keep
